# explicit includes
#include package.json
#include LICENSE.txt
#include README.md

#include *

#graft src

# Patterns to exclude from any directory
#global-exclude *~
#global-exclude __pycache__
#global-exclude *.py[cod]
#global-exclude .git
#global-exclude .ipynb_checkpoints
#global-exclude .DS_Store


graft src/jupyter_geppetto/geppetto/src/main/webapp/build
recursive-include src/jupyter_geppetto/geppetto *.png *.css *.woff *.woff2
include src/jupyter_geppetto/*


#graft src/jupyter_geppetto/geppetto/src/main/webapp
#recursive-exclude src/jupyter_geppetto/geppetto/src/main/webapp/node_modules *
#recursive-exclude src .git